@import 'base';

html,
body {
	height: 100%;
}

@each $cols in 2, 3, 4, 5 {
	.gridCols#{$cols} {
		@include wrapGrid($cols);
	}
}

.rectangleItem {
	@include wrapGridItem(16, 9);
	/**
	微信兼容性
	**/
	&:after {
		content: '';
		display: block;
		padding-bottom: 56.25%;
	}
}

.squareItem,
.square {
	@include wrapGridItem(1, 1);
	/**
	微信兼容性
	**/
	&:after {
		content: '';
		display: block;
		padding-bottom: 100%;
	}
}

// @each $var in $fontClass {
// 	$class: nth($var, 1);
// 	$size: nth($var, 2);
// 	.text-#{$class} {
// 		font-size: $size;
// 	}
// }

@each $size in 9, 10, 11, 12, 13, 14, 15, 16, 18 {
	.text-#{$size} {
		font-size: #{$size}px;
	}
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}

.text-bold {
	// 安卓 font-weight 使用数值失效
	font-weight: bold;
}

.text-underline {
	text-decoration: underline;
}

.word-break {
	word-wrap: break-word;
}

.clip-line1 {
	@include clipText(1);
}
.clip-line2 {
	@include clipText(2);
}

.fl-right {
	float: right;
}
.fl-left {
	float: left;
}

@each $pad in 0, 5, 10, 15, 20 {
	// margin classes
	.mg-l-#{$pad} {
		margin-left: #{$pad}px;
	}
	.mg-r-#{$pad} {
		margin-right: #{$pad}px;
	}
	.mg-x-#{$pad} {
		@extend .mg-l-#{$pad};
		@extend .mg-r-#{$pad};
	}
	.mg-t-#{$pad} {
		margin-top: #{$pad}px;
	}
	.mg-b-#{$pad} {
		margin-bottom: #{$pad}px;
	}
	.mg-y-#{$pad} {
		@extend .mg-t-#{$pad};
		@extend .mg-b-#{$pad};
	}
	.mg-#{$pad} {
		@extend .mg-y-#{$pad};
		@extend .mg-x-#{$pad};
	}

	// padding classes
	.pd-l-#{$pad} {
		padding-left: #{$pad}px;
	}
	.pd-r-#{$pad} {
		padding-right: #{$pad}px;
	}
	.pd-x-#{$pad} {
		@extend .pd-l-#{$pad};
		@extend .pd-r-#{$pad};
	}
	.pd-t-#{$pad} {
		padding-top: #{$pad}px;
	}
	.pd-b-#{$pad} {
		padding-bottom: #{$pad}px;
	}
	.pd-y-#{$pad} {
		@extend .pd-t-#{$pad};
		@extend .pd-b-#{$pad};
	}
	.pd-#{$pad} {
		@extend .pd-y-#{$pad};
		@extend .pd-x-#{$pad};
	}
}

.hide {
	display: none;
}
.block {
	display: block;
}
.flex {
	display: flex;
}

.hand {
	cursor: pointer;
}

.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

$odd-row-bg: #fafafa;
$even-row-bg: #fff;
$row-hover-bg: #feffb7;
.table-striped {
	tbody {
		> tr {
			&:nth-of-type(odd) {
				// background-color: $even-row-bg;
			}
			&:nth-of-type(even) {
				background-color: $odd-row-bg;
			}

			&:nth-of-type(odd):hover,
			&:nth-of-type(even):hover {
				// background-color: $row-hover-bg;
			}
		}
	}
}
